<div>
  <div id="card">
    <h1>John Doe</h1>
    <div class="image-crop">
      <img id="avatar" src="https://drive.google.com/uc?id=1EVA3KUBLxCXF2EGmTf4LUB8F4yAvBrjl">
    </div>
    <div id="bio">
      <p>Hello, my name is John! Bacon ipsum dolor amet short ribs prosciutto strip steak, pig ham tongue buffalo beef ribs hamburger pork venison. </p>
    </div>
    <div id="stats">
      <div class="col">
        <p class="stat">108</p>
        <p class="label">Posts</p>
      </div>
      <div class="col">
        <p class="stat">457</p>
        <p class="label">Followers</p>
      </div>
      <div class="col">
        <p class="stat">229</p>
        <p class="label">Following</p>
      </div>
    </div>
    <div id="buttons">
      <button>Follow</button>
      <button id="msg">Message</button>
    </div>
  </div>
</div>

